/*  About me: Anderson Corrêa da Cunha*/

/*soft reset do CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../Image/abstract-blue-geometric-shapes-background_1035-17545.jpg');
    background-size: auto 100vh ;
    font-family: 'Source Code Pro', monospace;
    height: 100vh;
    font-size: 18px;
}

/* Se a tela tiver pelo menos 400px, vai carregar estes estilos */
@media (min-width: 400px){
    body {
        font-size: 12px;
    }
}
/* Breackpoint */
@media (min-width: 600px){
    body {
        font-size: 16px;
    }
}

@media (min-width: 1200px){
    body {
        font-size: 20px;
    }
}

header{
    height: 50vh; /*viewport height*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: gray;
    position: fixed;
    width: 100vw;
    top: 0;
}
.menu ul {
    display: flex;
    justify-content: space-around;
}
.menu li {
    list-style: none;
    font-family: 'Balsamiq Sans', cursive;
}
.menu a {
    display: block;
    padding: 10px 20px;
}

a {
    color : black;
    font-size: large;
    font-style: normal;
    text-decoration: none;  
}
a:hover {
    text-decoration: underline;
}
.site-subtitle,
.site-title {
    color: blue;
    text-align: center;
}

.site-title{
    font-size: 4em;
    font-family: 'Balsamiq Sans', cursive;
}
.site-subtitle{
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

.portfolio h2 {
    font-family: 'Balsamiq Sans', cursive;
    line-height: 1.8em;
}

.img-portfolio{
    height: 150px;
    width: 150px;
}