/* Aula inicial :D */
body{
 background-image: url('/home/anderson/Documentos/GitHub/andersoncorreadacunha-gmail.com/Pasta sem título'); 
    font-family: Arial;
}

.menu{
    background-color: gray;
}

a{
  text-decoration: none;  
}

a:hover{
    text-decoration: underline;
}

.menu li{
    list-style: none;
}